.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #E7C0F5;
}

.mynavbar {
    width: 23%;
    padding: 0px;
}

.page__message {
    width: 71%;
    height: 100%;
    margin-left: 3%;
    background-color: #E7C0F5;
}

.header {
    margin-top: 7%;  /*50px*/
    width: 95%;
}

.message__title {
    font-family: 'MuseoModerno', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 0%;
}

