.App {
    height: 100vh;
    width: 100vw;
    background-color: rgba(231, 192, 245, 1);
  }
  
  body{
    margin: 0;
    padding: 0;
  }
  .main{
      display: flex;
      height: 100vh;
      width: 100%;
      overflow: hidden;
      background-color: #E7C0F5;
  }

  .mynavbar{
      width: 23%;
      background-color: #E7C0F5;
  }