.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #E7C0F5;
}

.mynavbar {
    width: 23%;
    padding: 0px;
}

.page__profile {
    width: 71%;
    height: 100%;
    margin-left: 3%;
    background-color: #E7C0F5;
}

.header {
    margin-top: 7%;  /*50px*/
    width: 95%;
}

.profile__title {
    font-family: 'MuseoModerno', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 0%;
}

.profile__body {
    margin-top: 5%;
    display: flex;
    width: 95%;
}

.profile__logo {
    width: 100%;
}

.profile__logo__log_out {
    width: 15%;
}

.log_out__button {
    width: fit-content;
    margin: 15% auto;
    justify-content: center;
}
.log_out__button button {
    width: fit-content;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.13em;
    background: rgba(143, 20, 186, 0.8);
    box-shadow: 0px 0px 2px 2px rgba(143, 20, 186, 0.2), inset 0px 0px 25px #A174B0;
    border-radius: 10px;
    border: none;
}

.profile__info {
    width: 100%;
    margin-left: 5%;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
}

.profile__name__edit {
    display: flex;
}

.edit{
    width: fit-content;
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    justify-content: flex-end;
}
.edit button{
    width: fit-content;
    background-color: transparent;
    border: 0px;
}

.username{
    font-family: 'Nunito', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 44px;
}

.profile__number {
    margin-top: 1%;
}

.profile__email {
    margin-top: 1%;
}

.profile__statistic{
    display: flex;
}
.pr_statistic {
    margin-top: 0;
    margin-right: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.statistic__num{
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}