/*.App {*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*  }*/
  
  body{
    margin: 0;
    padding: 0;
  }
  .Navbar{
    position: fixed;
    height: 100vh;
    width: 23%;
    background-color:#C4C4C4;;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 0px 60px 60px 0px;
  }
  .logo{
    display: flex;
    /* margin-left: 25px; */
    margin-top: 25px;
  }
  .logo_name{
    width: 182px;
    height: 51px;
  }
  .logo_name p{
  font-family: 'MuseoModerno', cursive;
  font-weight: 700, Bold;
  font-size: 20px;
  line-height: 51px;
  
  }
  
  .search{
    width: 250px;
    display: flex;
  }
  .info{
    margin-left: 20px;
    margin-right: 20px;
  }
  .icon1{
    padding-right: 10px;
  }
  .link{
    width: 250px;
    margin-top: 10px;
    border-radius: 10px;
  }
  .link img{
    margin-right: 15px;
  }
  .link a{
    color: rgba(0, 0, 0, 1);
    /* padding: 0px; */
  }
  .link a:hover{
    color: white;
  }
  .link:hover{
    border-radius: 10px;
    background-color:  rgba(255, 255, 255, 0.25);
    color: aliceblue;
  }
  .active{
    background-color:  rgba(255, 255, 255, 0.25);
  }
  .button1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  Button{
    width: 150px;
  }
  .button1 button{
   font-weight: 800;
   font-family: Nunito;
   color: rgba(0, 0, 0, 1);
   background-color: rgba(163, 163, 163, 1);
   border-radius: 10px;
   border-color: transparent;
  }
  .profile_name{
    display: flex;
    padding: 10px;
    margin-top: 15px;
    
  }
  .profile_name img{
    margin-right:10px;
    margin-left: 20px;
    
  }
  .profile_name p{
    font-family: Nunito;
    font-weight: 800;
  }
  
  .profile{
    display: flex;
    border-top: 1px solid black;
    
   
  }
  
  #a1{
width:45%;
  display: flex;
  justify-content: flex-end;
  margin-top: 33px;
  margin-right: 30px;
  }
  .link a:focus{
    color: rgba(0, 0, 0, 1);
  }
  .search:active{
    box-shadow: none;
  }
 .logo{
     padding-left: 16px;
 }
 .name{
     width: 100px;
     margin: 8px;
 }
 .button-search .btn-outline-dark {
background-color: #FFFFFF;
border-color: transparent;
border-bottom-left-radius: 0%;
border-top-left-radius: 0%;
width: 50px;
}
.button-search .btn-outline-dark:hover{
  background-color: #C4C4C4;
}
.search .form-control{
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border: 1px solid #FFFFFF;
}
.search .form-control{
	box-shadow: none !important
}
.search .form-control:focus {
    outline: none;
    box-shadow: none;
    border: none;
    border-color: #FFFFFF;
  }
