.App {
  height: 100vh;
  width: 100vw;
}

body{
  margin: 0;
  padding: 0;
}
.Navbar{
  /* position:fixed; */
  height: 100vh;
  width: 100%;
  background-color:rgba(161, 116, 176, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 0px 60px 60px 0px;
}
.logo{
  display: flex;
  /* margin-left: 25px; */
  margin-top: 25px;
}

.logo_name{
  width: 182px;
  height: 51px;
}

.logo_name p{
font-family: 'MuseoModerno', cursive;
font-weight: 700;
font-size: 20px;
line-height: 51px;
}

.search{
  width: 95%;
  display: flex;
}
.info{
  margin-left: 20px;
  margin-right: 20px;
}
.icon1{
  padding-right: 10px;
}
.link{
  width: 95%;
  margin-top: 10px;
  border-radius: 10px;
}
.link img{
  margin-right: 15px;
}
.link a{
  color: rgba(0, 0, 0, 1);
  /* padding: 0px; */
}
.link a:hover{
  color: rgba(231, 192, 245, 0.75);
}
.link:hover{
  border-radius: 10px;
  background-color:  rgba(161, 116, 176, 1);
  color: aliceblue;
}
.active{
  background-color:  rgba(161, 116, 176, 1);
}

.button1{
  text-align: center;
  /* margin-top: 15%; */
  /* margin-bottom: 30px; */
 vertical-align: bottom;
}
Button{
  width: 60%;
}

.button1 button{
 font-weight: 800;
 font-family: Nunito, sans-serif;
 color: rgba(0, 0, 0, 1);
 background-color: rgba(143, 20, 186, 1);
 border-radius: 10px;
 border-color: transparent;
 margin-bottom: 15px;

}
.profile_name{
  display: flex;
  padding: 10px;
  margin-top: 15px;
}
.profile_name p{
  width: 100%;
}
.profile_name img{
  margin-right:10px;
  margin-left: 20px;
  
}
.profile_name p{
  font-family: Nunito, sans-serif;
  font-weight: 800;
}

.profile{
  align-content: flex-end;
  display: flex;
  margin-top: auto;
  border-top: 1px solid black;
  width: 100%;
 
}

#a1{
width:45%;
display: flex;
justify-content: flex-end;
margin-top: 33px;
margin-right: 30px;
}
.link a:focus{
  color: rgba(0, 0, 0, 1);
}
.search:active{
  box-shadow: none;
}
.logo{
   padding-left: 16px;
}
.name{
   width: 100px;
   margin: 8px;
}
.button-search .btn-outline-dark {
background-color:rgba(231, 192, 245, 1);
border-color: transparent;
border-bottom-left-radius: 0%;
border-top-left-radius: 0%;
width: 50px;
}
.button-search .btn-outline-dark:hover{
background-color: rgba(231, 192, 245, 1);
}
.search .form-control{
border-top-right-radius: 0%;
border-bottom-right-radius: 0%;
border: 1px solid rgba(231, 192, 245, 1);
background-color: rgba(231, 192, 245, 1);
}
.search .form-control{
box-shadow: none !important
}
.search .form-control:focus {
  outline: none;
  box-shadow: none;
  border: none;
  border-color: rgba(231, 192, 245, 1);
  background-color: rgba(231, 192, 245, 1);
}
.list-nav{
margin-bottom: 5%;
}
.box-profile{
margin-top: auto;
}
.button-search button{
height: 42px;
}

@media (min-width: 1250px) { 
.box-profile{
  margin-top: 55%;
}
}
.link a:hover {
color: black;
background-color: rgba(231, 192, 245, 1);
}
.button_ask_question{
  margin-top: 20%;
}
.button_ask_question button:hover{
background-color: rgba(143, 20, 186, 1);
}
.button_ask_question button:focus{
  background-color: rgba(143, 20, 186, 1);
  box-shadow: none;
  }
.link a {
text-decoration: none;
}