.page {
    height: 100vh;
    display: flex;
    background-color: #E5E5E5;;
}

.page__myanswer {
    margin-left: 345px;
}

.mynavbar {
    padding: 0px;
}

.header {
    margin-top: 50px;
}

.all_questions {
    width: 1100px;
    height: 550px;
    overflow : auto;
    margin-top: 0px;
}

.myanswer__title {
    font-family: 'MuseoModerno', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 0%;
}

.myanswer__filter {
    margin-top: 75px;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 0%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
}
.myanswer__filterby {
    display: flex;
    margin-right: 5px;
    margin-top: 5px;
}
.myanswer__filterby p{
    padding-top: 5px;
}
.vector {
    margin-left: 10px;
}

.filter__buttons {
    justify-content: center;
    display: flex;
}

.filter__buttons button {
    /*всі кнопки*/
    background-color: transparent;
    border: 3px;
    height: 25px;
    min-width: max-content;
}


.filter__button__like button::before {
    content: '';
    position: absolute;
    width: 8vmin;
    height: 3px;
    border-radius: 5px;
    background-color:  rgba(0, 0, 0, 1);
    margin-top: 17px;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    transform-origin: right;
}
.filter__button__like button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.filter__button__time button::before {
    content: '';
    position: absolute;
    width: 8vmin;
    height: 3px;
    border-radius: 5px;
    background-color:  rgba(0, 0, 0, 1);
    margin-top: 17px;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    transform-origin: right;
}
.filter__button__time button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.filter__button__comments button::before {
    content: '';
    position: absolute;
    width: 17vmin;
    height: 3px;
    border-radius: 5px;
    background-color:  rgba(0, 0, 0, 1);
    margin-top: 17px;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    transform-origin: right;
}
.filter__button__comments button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.filter__button__saves button::before {
    content: '';
    position: absolute;
    width: 9vmin;
    height: 3px;
    border-radius: 5px;
    background-color:  rgba(0, 0, 0, 1);
    margin-top: 17px;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    transform-origin: right;
}
.filter__button__saves button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}



.filter__button__like{
    margin-left: 50px;
    width: max-content;
}
.filter__button__time{
    margin-left: 50px;
    width: max-content;
}
.filter__button__comments{
    margin-left: 50px;
    width: max-content;
}
.filter__button__saves{
    margin-left: 50px;
    width: max-content;
}



