.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #E7C0F5;
}

.mynavbar {
    width: 23%;
    padding: 0px;
}

.page__myanswer {
    width: 71%;
    height: 100%;
    margin-left: 3%;
    background-color: #E7C0F5;
}

.header {
    margin-top: 7%;
    width: 95%;
}

.myanswer__title {
    font-family: 'MuseoModerno', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 0%;
}


.myanswer__filter {
    color: #8F14BA;
    width: 85%;
    margin-top: 6%;      /* 75px */
    margin-bottom: 2%;   /* 30px; */
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*text-align: center;*/
    letter-spacing: 0.15em;
}

.myanswer__filterby{
    display: flex;
    color: #8F14BA;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 0%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
}

.myanswer__filter_by{
    display: flex;
}
.myanswer__filter_by p{
    margin: 0;
}

.myanswer__filterby__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.filter_button button{
    position: relative;
    width: fit-content;
    color: #8F14BA;
    background-color: transparent;
    border: 3px;
    height: 25px;
    letter-spacing: 0.15em;
}

.myanswer__filterby__button button::before {
    content: '';
    position: absolute;
    width: 92%;
    height: 3px;
    border-radius: 5px;
    background-color: #8F14BA;
    margin-top: 17px;
    letter-spacing: 0.15em;
    text-align: center;

    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    transform-origin: right;
}
.myanswer__filterby__button button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    color: #8F14BA;
}


.all_questions {
    width: 95%;
    height: 70%;
    overflow : auto;
    margin-top: 4%;
}

.MAquestion {
    width: 100%;
    padding: 3%;
    background: #A174B099;
    border-radius: 25px;
    margin-bottom: 3%;
}

.MAanswer {
    width: 100%;
    padding: 4%;
    margin-top: 2%;
    /*background: #A174B099;*/
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;

    border-color: #8F14BA;
}

.quest_tag {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 1000px;
}