body {
    overflow: hidden;
}

.info1 {
    margin-top: 10px;
    margin-left: 5%;
    width: 100%;
    margin-right: 5%;
}

body {
    background-color: rgba(231, 192, 245, 1);
    width: 100vw;
}

.block {
    width: 100%;
    height: 80vh;
    overflow: auto;
    

}

.info-list {
    margin-left: -25px;
}

/* ::-webkit-scrollbar {
    width: 15px;

}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #e8e8e8 0%, #676262 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgb(158, 154, 154);
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(126, 125, 125);
} */
/* 2 */
/* ::-webkit-scrollbar {
    width: 15px;

}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

::-webkit-scrollbar-thumb {
    background:linear-gradient(180deg, #b1b0b0 0%, #545252 99%);
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #b1b0b0 0%, #7b7878 99%);
} */

/* 3 */
/* ::-webkit-scrollbar {
    width: 20px;

}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

::-webkit-scrollbar-thumb {
    background:transparent;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(78, 77, 76, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
} */


/* 4 */
/* ::-webkit-scrollbar {
    width: 20px;

}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

::-webkit-scrollbar-thumb {
    background:transparent;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(78, 77, 76, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

 */
