.postbtn {
    display: flex;
}

.postbtn__like{
    display: flex;
    margin-right: 7%;
}

.postbtn__dislike{
    display: flex;
}


.num {
    padding-top: 10px;
    padding-left: 5px;
}

.text {
    padding-top: 10px;
    padding-left: 5px;
}

.postbtn button {
    padding-top: 10px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    background-color: transparent;          /*  teal;  */
    border: 0px;
}

