.question__date {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    /*padding-left: 65px;*/
}

.question__title {
    padding-top: 20px;
     font-family: 'Nunito', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 20px;
     line-height: 44px;
 }

.question__text_body {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
}

.question__statistics {
    /*width: 100vh;*/
    display: flex;
    padding-top: 25px;
    padding-bottom: 15px;
}
.looked_like_unlike {
    display: flex;
}
.save_share {
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    justify-content: flex-end;
}

.looked {
    display: flex;
    vertical-align: center;
    margin-right: 25px;
}
.looked__img {
    padding-top: 5px;
    padding-right: 5px;
}
.looked__text {
    padding-top: 7px;
    display: flex;
}
.looked__text p {
    padding-right: 5px;
}



.like {
    display: flex;
    /*margin-left: 25px;*/
}
.like__text {
    padding-top: 10px;
    display: flex;
}
.like__text p {
    padding-right: 5px;
}


.unlike {
    display: flex;
    margin-left: 25px;
}
.unlike__text {
    padding-top: 10px;
    display: flex;
}
.unlike__text p {
    padding-right: 5px;
}

.unsave {
    justify-content: flex-end;
    display: flex;
    /*padding-left: 300px;*/

}

.share {
    justify-content: flex-end;
    display: flex;
    margin-right: 15px;
}